$duration: 500ms;

*,
*::after,
*::before {
    box-sizing: border-box;
}

.container {
    background-color: #2a9f90;
    position: relative;
    padding: 20px;
    .containerBoard {
        background: rgba(101, 187, 51, 0.2);
        position: relative;
        height: calc(100vh - 40px);
        width: 70%;
        margin-left: auto;
        .btnContainer {
            position: absolute;
            z-index: 101;
            bottom: 20%;
            right: 20%;
            display: flex;
            flex-flow: column;
            .info {
                color: #ffffff;
            }
        }
        .containerUnit {
            // background: rgba(255, 0, 0, 0.3);
            z-index: 99;
            // width: calc(100% / 7);
            width: 120px;
            height: 120px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .unit {
            width: 40px;
            height: 40px;
            background: red;
        }
        .jumpAction {
            animation: jumps $duration infinite cubic-bezier(0.08, 0.93, 0.98, 1.02);
        }
    }
}

@keyframes moveRight {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes jumps {
    0% {
        transform: scale(1, 1) translateY(0);
    }
    50% {
        transform: scale(1) translateY(-80px);
    }
    100% {
        transform: scale(1) translateY(0);
    }
}
